#################
## Visual Studio
#################

# User-specific files
*.suo
*.user
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
[Ss]olutionDeployment/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
*.exe
*vshost*
*.log

# Office Temp Files
~$*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.resharper
_dotCover*

# Others
[Bb]in
[Oo]bj

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
*.DotSettings
